# macOS
.DS_Store

# Rust
/target/

# VSCode
.vscode/

# Core dumps
core
core.*
*.core
**/core
**/core.*
**/*.core
 
# Generated website content
website/content/builtins.json
website/content/builtins-mdx/