[package]
name = "runmat-wasm"
version = "0.2.8"
edition = "2021"
authors = ["Dystr Team"]
license-file = "../../LICENSE.md"
description = "WebAssembly bindings for embedding RunMat in browsers"
homepage = "https://runmat.org"
repository = "https://github.com/runmat-org/runmat"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["gpu"]
jit = ["runmat-core/jit"]
gpu = ["runmat-accelerate/wgpu"]

[dependencies]
runmat-core = { workspace = true }
runmat-builtins = { workspace = true }
runmat-accelerate = { workspace = true }
runmat-accelerate-api = { workspace = true }
runmat-ignition = { workspace = true }
runmat-filesystem = { workspace = true }
runmat-thread-local = { workspace = true }
glam = "0.24"
serde = { workspace = true }
serde_json = { workspace = true }
serde-wasm-bindgen = "0.6"
wasm-bindgen = { version = "0.2", features = ["serde-serialize"] }
wasm-bindgen-futures = "0.4"
js-sys = "0.3"
web-sys = { version = "0.3", features = ["Window", "Response", "ReadableStream", "ReadableStreamDefaultReader", "HtmlCanvasElement", "OffscreenCanvas", "console"] }
log = { workspace = true }
anyhow = { workspace = true }
miette = { workspace = true }
console_error_panic_hook = "0.1"
thiserror = { workspace = true }
getrandom = { version = "0.2", features = ["js"] }
uuid = { version = "1", features = ["v4", "js"], default-features = false }
runmat-logging = { path = "../runmat-logging", version = "0.1.0" }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["fmt", "env-filter", "registry"] }
runmat-telemetry = { workspace = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
runmat-runtime = { workspace = true, features = ["plot-web"] }
runmat-plot = { workspace = true, features = ["web", "egui-overlay"] }
