openapi: 3.0.3
info:
  title: RunMat Public API
  version: 0.2.8
servers:
  - url: https://api.runmat.com
paths:
  /v1/auth/resolve:
    post:
      summary: Resolve auth mode
      operationId: authResolve
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthResolveRequest'
      responses:
        '200':
          description: Auth resolve response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResolveResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/auth/me:
    get:
      summary: Current user
      operationId: authMe
      responses:
        '200':
          description: Auth me response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthMeResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/orgs:
    get:
      summary: List orgs
      operationId: listOrgs
      parameters:
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          name: cursor
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Org list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrgs'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/orgs/{orgId}/projects:
    get:
      summary: List projects
      operationId: listProjects
      parameters:
        - in: path
          name: orgId
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          name: cursor
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Project list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProjects'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Create project
      operationId: createProject
      parameters:
        - in: path
          name: orgId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreateRequest'
      responses:
        '200':
          description: Project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/projects/{projectId}/memberships:
    get:
      summary: List project memberships
      operationId: listProjectMemberships
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          name: cursor
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Project memberships
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProjectMemberships'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/projects/{projectId}/fs/metadata:
    get:
      summary: File metadata
      operationId: fsMetadata
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FsMetadataResponse'
  /v1/projects/{projectId}/fs/read:
    get:
      summary: Read file range
      operationId: fsRead
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: path
          required: true
          schema:
            type: string
        - in: query
          name: offset
          required: true
          schema:
            type: integer
            format: int64
        - in: query
          name: length
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Byte range or download URL
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /v1/projects/{projectId}/fs/write:
    put:
      summary: Write file chunk
      operationId: fsWrite
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: path
          required: true
          schema:
            type: string
        - in: query
          name: offset
          required: true
          schema:
            type: integer
            format: int64
        - in: query
          name: truncate
          required: true
          schema:
            type: boolean
        - in: query
          name: final
          required: false
          schema:
            type: boolean
        - in: query
          name: hash
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Commit response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FsWriteResponse'
        '202':
          description: Continue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FsWriteResponse'
  /v1/projects/{projectId}/fs/dir:
    get:
      summary: List directory
      operationId: fsListDir
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Directory listing
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FsDirEntry'
  /v1/projects/{projectId}/fs/mkdir:
    post:
      summary: Create directory
      operationId: fsMkdir
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FsMkdirRequest'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: boolean
  /v1/projects/{projectId}/fs/rename:
    post:
      summary: Rename path
      operationId: fsRename
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FsRenameRequest'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: boolean
  /v1/projects/{projectId}/fs/set-readonly:
    post:
      summary: Set readonly
      operationId: fsSetReadonly
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FsSetReadonlyRequest'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: boolean
  /v1/projects/{projectId}/fs/canonicalize:
    get:
      summary: Canonicalize path
      operationId: fsCanonicalize
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Canonical path
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FsPathResponse'
  /v1/projects/{projectId}/fs/upload-session:
    post:
      summary: Create upload session
      operationId: fsUploadSession
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FsUploadSessionRequest'
      responses:
        '200':
          description: Upload session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FsUploadSessionResponse'
  /v1/projects/{projectId}/fs/commit:
    post:
      summary: Commit upload
      operationId: fsCommit
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FsCommitRequest'
      responses:
        '200':
          description: Commit response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FsCommitResponse'
  /v1/projects/{projectId}/fs/download-url:
    get:
      summary: Presigned download URL
      operationId: fsDownloadUrl
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Download url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FsDownloadUrlResponse'
  /v1/projects/{projectId}/fs/multipart-upload:
    post:
      summary: Start multipart upload
      operationId: fsMultipartUpload
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FsMultipartUploadRequest'
      responses:
        '200':
          description: Multipart upload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FsMultipartUploadResponse'
  /v1/projects/{projectId}/fs/multipart-upload/part:
    post:
      summary: Presign multipart part
      operationId: fsMultipartUploadPart
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FsMultipartUploadPartRequest'
      responses:
        '200':
          description: Multipart part
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FsMultipartUploadPartResponse'
  /v1/projects/{projectId}/fs/multipart-upload/complete:
    post:
      summary: Complete multipart upload
      operationId: fsMultipartUploadComplete
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FsMultipartUploadCompleteRequest'
      responses:
        '200':
          description: Completed upload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FsCommitResponse'
  /v1/projects/{projectId}/fs/multipart-upload/keepalive:
    post:
      summary: Keep multipart upload alive
      operationId: fsMultipartUploadKeepalive
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FsMultipartUploadKeepaliveRequest'
      responses:
        '200':
          description: Keepalive result
          content:
            application/json:
              schema:
                type: boolean
  /v1/projects/{projectId}/fs/multipart-upload/parts:
    post:
      summary: List multipart upload parts
      operationId: fsMultipartUploadParts
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FsMultipartUploadPartsRequest'
      responses:
        '200':
          description: Multipart parts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FsMultipartUploadPartsResponse'
  /v1/projects/{projectId}/fs/retention:
    get:
      summary: Get project retention
      operationId: fsRetentionGet
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Retention settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FsRetentionResponse'
    post:
      summary: Update project retention
      operationId: fsRetentionUpdate
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FsRetentionUpdateRequest'
      responses:
        '200':
          description: Retention settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FsRetentionResponse'
  /v1/projects/{projectId}/fs/snapshots:
    get:
      summary: List filesystem snapshots
      operationId: fsSnapshotsList
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Snapshot list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FsSnapshotListResponse'
    post:
      summary: Create filesystem snapshot
      operationId: fsSnapshotsCreate
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FsSnapshotCreateRequest'
      responses:
        '200':
          description: Snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FsSnapshotResponse'
  /v1/projects/{projectId}/fs/snapshots/tags:
    get:
      summary: List snapshot tags
      operationId: fsSnapshotTagsList
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Tag list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FsSnapshotTagListResponse'
  /v1/projects/{projectId}/fs/snapshots/{snapshotId}/tags:
    post:
      summary: Set snapshot tag
      operationId: fsSnapshotTagsSet
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
        - in: path
          name: snapshotId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FsSnapshotTagRequest'
      responses:
        '200':
          description: Tag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FsSnapshotTagResponse'
  /v1/projects/{projectId}/fs/snapshots/tags/{tag}:
    delete:
      summary: Delete snapshot tag
      operationId: fsSnapshotTagsDelete
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
        - in: path
          name: tag
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: boolean
  /v1/projects/{projectId}/fs/snapshots/{snapshotId}:
    delete:
      summary: Delete filesystem snapshot
      operationId: fsSnapshotsDelete
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
        - in: path
          name: snapshotId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: boolean
  /v1/projects/{projectId}/fs/snapshots/{snapshotId}/restore:
    post:
      summary: Restore filesystem snapshot
      operationId: fsSnapshotsRestore
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
        - in: path
          name: snapshotId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Restored
          content:
            application/json:
              schema:
                type: boolean
  /v1/projects/{projectId}/fs/snapshots/{snapshotId}/git-export:
    get:
      summary: Export snapshot as git fast-import stream
      operationId: fsSnapshotsGitExport
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
        - in: path
          name: snapshotId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Git fast-import stream
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /v1/projects/{projectId}/fs/git/refs:
    get:
      summary: List git refs for filesystem
      operationId: fsGitRefs
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Git refs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FsGitRefsResponse'
  /v1/projects/{projectId}/fs/git/upload:
    get:
      summary: Export git fast-import stream
      operationId: fsGitUpload
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Git fast-import stream
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /v1/projects/{projectId}/fs/git/receive:
    post:
      summary: Receive git fast-import stream
      operationId: fsGitReceive
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Imported
          content:
            application/json:
              schema:
                type: boolean
  /v1/projects/{projectId}/fs/manifest:
    get:
      summary: Fetch shard manifest
      operationId: fsManifest
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: path
          required: true
          schema:
            type: string
        - in: query
          name: versionId
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Manifest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FsManifestResponse'
  /v1/projects/{projectId}/fs/manifest/urls:
    get:
      summary: Fetch shard manifest URLs
      operationId: fsManifestUrls
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: path
          required: true
          schema:
            type: string
        - in: query
          name: versionId
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Manifest URLs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FsManifestUrlsResponse'
  /v1/projects/{projectId}/fs/manifest/history:
    get:
      summary: List shard manifest versions
      operationId: fsManifestHistory
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Manifest history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FsManifestHistoryResponse'
  /v1/projects/{projectId}/fs/manifest/update:
    post:
      summary: Update shard manifest
      operationId: fsManifestUpdate
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FsManifestUpdateRequest'
      responses:
        '200':
          description: Updated manifest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FsCommitResponse'
  /v1/projects/{projectId}/fs/history/{versionId}:
    delete:
      summary: Delete file version
      operationId: fsHistoryDelete
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
        - in: path
          name: versionId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Deleted
  /v1/projects/{projectId}/history:
    get:
      summary: List file history
      operationId: listProjectHistory
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: History list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FsHistoryListResponse'
  /v1/projects/{projectId}/history/restore:
    post:
      summary: Restore file version
      operationId: restoreProjectHistory
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FsHistoryRestoreRequest'
      responses:
        '200':
          description: Restored file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FsCommitResponse'
components:
  schemas:
    AuthResolveRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
    AuthResolveResponse:
      type: object
      required: [mode, redirect_url]
      properties:
        mode:
          type: string
        redirect_url:
          type: string
        org_id:
          type: string
          nullable: true
    AuthMeResponse:
      type: object
      required: [user, orgs]
      properties:
        user:
          $ref: '#/components/schemas/UserProfile'
        orgs:
          type: array
          items:
            $ref: '#/components/schemas/Org'
    UserProfile:
      type: object
      required: [id, email, name]
      properties:
        id:
          type: string
        email:
          type: string
        name:
          type: string
        analytics_id:
          type: string
          nullable: true
    Org:
      type: object
      required: [id, name]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
    Project:
      type: object
      required: [id, org_id, name, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        org_id:
          type: string
          format: uuid
        name:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ProjectMembership:
      type: object
      required: [id, project_id, user_id, role]
      properties:
        id:
          type: string
          format: uuid
        project_id:
          type: string
          format: uuid
        user_id:
          type: string
        role:
          type: string
    ProjectCreateRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
    PaginatedOrgs:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Org'
        nextCursor:
          type: string
          nullable: true
    PaginatedProjects:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Project'
        nextCursor:
          type: string
          nullable: true
    PaginatedProjectMemberships:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ProjectMembership'
        nextCursor:
          type: string
          nullable: true
    FsMetadataResponse:
      type: object
      required: [fileType, len, readonly]
      properties:
        fileType:
          type: string
        len:
          type: integer
          format: int64
        readonly:
          type: boolean
        hash:
          type: string
        etag:
          type: string
        modifiedAt:
          type: string
          format: date-time
          nullable: true
    FsDirEntry:
      type: object
      required: [path, fileName, fileType]
      properties:
        path:
          type: string
        fileName:
          type: string
        fileType:
          type: string
    FsMkdirRequest:
      type: object
      required: [path, recursive]
      properties:
        path:
          type: string
        recursive:
          type: boolean
    FsRenameRequest:
      type: object
      required: [from, to]
      properties:
        from:
          type: string
        to:
          type: string
    FsSetReadonlyRequest:
      type: object
      required: [path, readonly]
      properties:
        path:
          type: string
        readonly:
          type: boolean
    FsRetentionUpdateRequest:
      type: object
      required: [maxVersions]
      properties:
        maxVersions:
          type: integer
          format: int64
    FsRetentionResponse:
      type: object
      required: [projectId, maxVersions, isDefault]
      properties:
        projectId:
          type: string
          format: uuid
        maxVersions:
          type: integer
          format: int64
        updatedAt:
          type: string
          format: date-time
          nullable: true
        isDefault:
          type: boolean
    FsSnapshotCreateRequest:
      type: object
      properties:
        message:
          type: string
          nullable: true
        parentId:
          type: string
          format: uuid
          nullable: true
        tag:
          type: string
          nullable: true
    FsSnapshotResponse:
      type: object
      required: [id, projectId, createdAt, tags]
      properties:
        id:
          type: string
          format: uuid
        projectId:
          type: string
          format: uuid
        parentId:
          type: string
          format: uuid
          nullable: true
        message:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
          format: uuid
          nullable: true
        tags:
          type: array
          items:
            type: string
    FsSnapshotListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/FsSnapshotResponse'
    FsSnapshotTagRequest:
      type: object
      required: [tag]
      properties:
        tag:
          type: string
    FsSnapshotTagResponse:
      type: object
      required: [tag, snapshotId, createdAt]
      properties:
        tag:
          type: string
        snapshotId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
          format: uuid
          nullable: true
    FsSnapshotTagListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/FsSnapshotTagResponse'
    FsPathResponse:
      type: object
      required: [path]
      properties:
        path:
          type: string
    FsShardUrlEntry:
      type: object
      required: [path, size, url]
      properties:
        path:
          type: string
        size:
          type: integer
          format: int64
        url:
          type: string
    FsManifestUrlsResponse:
      type: object
      required: [versionId, manifest, shards, expiresAt]
      properties:
        versionId:
          type: string
          format: uuid
        manifest:
          $ref: '#/components/schemas/FsShardManifest'
        shards:
          type: array
          items:
            $ref: '#/components/schemas/FsShardUrlEntry'
        expiresAt:
          type: string
          format: date-time
    FsGitRefEntry:
      type: object
      required: [name, snapshotId, createdAt]
      properties:
        name:
          type: string
        snapshotId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
    FsGitRefsResponse:
      type: object
      required: [refs]
      properties:
        head:
          type: string
          nullable: true
        refs:
          type: array
          items:
            $ref: '#/components/schemas/FsGitRefEntry'
    FsUploadSessionRequest:
      type: object
      required: [path, sizeBytes]
      properties:
        path:
          type: string
        sizeBytes:
          type: integer
          format: int64
        contentType:
          type: string
          nullable: true
    FsUploadSessionResponse:
      type: object
      required: [uploadUrl, blobKey, expiresAt]
      properties:
        uploadUrl:
          type: string
        blobKey:
          type: string
        expiresAt:
          type: string
          format: date-time
    FsCommitRequest:
      type: object
      required: [path, blobKey, sizeBytes]
      properties:
        path:
          type: string
        blobKey:
          type: string
        etag:
          type: string
          nullable: true
        sizeBytes:
          type: integer
          format: int64
        hash:
          type: string
          nullable: true
    FsCommitResponse:
      type: object
      required: [entry, version]
      properties:
        entry:
          $ref: '#/components/schemas/FsEntry'
        version:
          $ref: '#/components/schemas/FsVersion'
    FsWriteSessionResponse:
      type: object
      required: [sessionId, nextOffset]
      properties:
        sessionId:
          type: string
        nextOffset:
          type: integer
          format: int64
    FsWriteResponse:
      type: object
      properties:
        entry:
          $ref: '#/components/schemas/FsEntry'
        version:
          $ref: '#/components/schemas/FsVersion'
        sessionId:
          type: string
        nextOffset:
          type: integer
          format: int64
    FsDownloadUrlResponse:
      type: object
      required: [downloadUrl, expiresAt]
      properties:
        downloadUrl:
          type: string
        expiresAt:
          type: string
          format: date-time
    FsMultipartUploadRequest:
      type: object
      required: [path, sizeBytes]
      properties:
        path:
          type: string
        sizeBytes:
          type: integer
          format: int64
        contentType:
          type: string
    FsMultipartUploadResponse:
      type: object
      required: [sessionId, blobKey, uploadId, partSizeBytes]
      properties:
        sessionId:
          type: string
          format: uuid
        blobKey:
          type: string
        uploadId:
          type: string
        partSizeBytes:
          type: integer
          format: int64
    FsMultipartUploadPartRequest:
      type: object
      required: [sessionId, blobKey, uploadId, partNumber, sizeBytes]
      properties:
        sessionId:
          type: string
          format: uuid
        blobKey:
          type: string
        uploadId:
          type: string
        partNumber:
          type: integer
          format: int32
        sizeBytes:
          type: integer
          format: int64
    FsMultipartUploadPartResponse:
      type: object
      required: [uploadUrl]
      properties:
        uploadUrl:
          type: string
    FsMultipartUploadCompletePart:
      type: object
      required: [partNumber, etag]
      properties:
        partNumber:
          type: integer
          format: int32
        etag:
          type: string
    FsMultipartUploadCompleteRequest:
      type: object
      required: [sessionId, path, blobKey, uploadId, sizeBytes, parts]
      properties:
        sessionId:
          type: string
          format: uuid
        path:
          type: string
        blobKey:
          type: string
        uploadId:
          type: string
        sizeBytes:
          type: integer
          format: int64
        hash:
          type: string
        parts:
          type: array
          items:
            $ref: '#/components/schemas/FsMultipartUploadCompletePart'
    FsMultipartUploadKeepaliveRequest:
      type: object
      required: [sessionId]
      properties:
        sessionId:
          type: string
          format: uuid
    FsMultipartUploadPartsRequest:
      type: object
      required: [sessionId, blobKey, uploadId]
      properties:
        sessionId:
          type: string
          format: uuid
        blobKey:
          type: string
        uploadId:
          type: string
    FsMultipartUploadPartsResponse:
      type: object
      required: [parts]
      properties:
        parts:
          type: array
          items:
            $ref: '#/components/schemas/FsMultipartUploadCompletePart'
    FsShardEntry:
      type: object
      required: [path, size]
      properties:
        path:
          type: string
        size:
          type: integer
          format: int64
    FsShardManifest:
      type: object
      required: [version, total_size, shard_size, shards]
      properties:
        version:
          type: integer
          format: int32
        total_size:
          type: integer
          format: int64
        shard_size:
          type: integer
          format: int64
        shards:
          type: array
          items:
            $ref: '#/components/schemas/FsShardEntry'
    FsManifestResponse:
      type: object
      required: [versionId, manifest]
      properties:
        versionId:
          type: string
          format: uuid
        manifest:
          $ref: '#/components/schemas/FsShardManifest'
    FsManifestHistoryEntry:
      type: object
      required: [versionId, createdAt, sizeBytes, totalSize, shardCount]
      properties:
        versionId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        sizeBytes:
          type: integer
          format: int64
        totalSize:
          type: integer
          format: int64
        shardCount:
          type: integer
          format: int32
    FsManifestHistoryResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/FsManifestHistoryEntry'
    FsManifestUpdateRequest:
      type: object
      required: [path, baseVersionId, manifest]
      properties:
        path:
          type: string
        baseVersionId:
          type: string
          format: uuid
        manifest:
          $ref: '#/components/schemas/FsShardManifest'
    FsHistoryRestoreRequest:
      type: object
      required: [versionId]
      properties:
        versionId:
          type: string
          format: uuid
    FsHistoryListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/FsVersion'
    FsEntry:
      type: object
      required: [id, projectId, path, name, kind, size, readonly]
      properties:
        id:
          type: string
          format: uuid
        projectId:
          type: string
          format: uuid
        path:
          type: string
        parentPath:
          type: string
          nullable: true
        name:
          type: string
        kind:
          type: string
        size:
          type: integer
          format: int64
        etag:
          type: string
          nullable: true
        readonly:
          type: boolean
        currentVersionId:
          type: string
          format: uuid
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        deletedAt:
          type: string
          format: date-time
          nullable: true
        createdBy:
          type: string
          format: uuid
          nullable: true
        updatedBy:
          type: string
          format: uuid
          nullable: true
    FsVersion:
      type: object
      required: [id, projectId, path, blobKey, size, createdAt]
      properties:
        id:
          type: string
          format: uuid
        projectId:
          type: string
          format: uuid
        path:
          type: string
        blobKey:
          type: string
        size:
          type: integer
          format: int64
        hash:
          type: string
          nullable: true
        etag:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
          format: uuid
          nullable: true
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
            message:
              type: string
            requestId:
              type: string
              nullable: true
            traceId:
              type: string
              nullable: true
